body {
    text-align: center;
     background-color: black;
     

}

h1 {
    font-size: 40px;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 300;
}

#intro{
    background-color: rgb(182, 220, 238);
}

#origami1{
   background-color:rgb(151, 3, 250);
}

#origami2{
  background-color:rgb(187, 255, 0); 
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}
img{
    border: 5px;
    border-color: aqua;
    border-style: inset;

}